@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .prose p {
    margin-top: 0;
    margin-bottom: 0.5rem;
  }
  .prose p:last-child {
    margin-bottom: 0;
  }
  .prose ul, .prose ol {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
}
